* {
    box-sizing: border-box;
}
.picture {
    border-radius: 50%;
}

.border {
    background: linear-gradient(to right, orange, rgb(162, 10, 200));
}

.large {
    margin: 3px;
    height: 60px;
    width: 60px;
}

.large.picture {
    border: 4px solid white;
}

.large.border {
    border-radius: 50%;
    z-index: -1;
    width: min-content;
    height: 66px;
    width: 66px;
}

.medium {
    margin: 3px;
    height: 36px;
    width: 36px;
}

.medium.picture {
    border: 3px solid white;
}

.medium.border {
    border-radius: 50%;
    z-index: -1;
    width: min-content;
    height: 42px;
    width: 42px;
}

.small {
    margin: 3px;
    height: 28px;
    width: 28px;
}

.small.picture {
    border: 2px solid white;
}

.small.border {
    border-radius: 50%;
    z-index: -1;
    width: min-content;
    height: 34px;
    width: 34px;
}
