.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navitems {
    display: flex;
    list-style-type: none;
}

.navitems li {
    margin-right: 10px;
}

.navitems button {
    padding: 0;
    border: none;
}
